---
layout: generic_collection_item
image_viewer: 'simple'
pagination: true
meta:
  - label: 'Title'
    value: page.title
  - label: 'Transcription'
    value: page.transcription_link
    type: link
  - label: 'People Mentioned'
    value: page.people
  - label: 'Date'
    value: page._date
  - label: 'Republican Date'
    value: page.revolutionary_date
  - label: 'Location'
    value: page.location
  - label: 'Language'
    value: page.language
  - label: 'Pages'
    value: page.pages
  - label: 'Archive'
    value: page.archive
  - label: 'Reference'
    value: page.reference
  - label: 'IIIF Manifest'
    value: page.manifest
    type:  link
---
